<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Main - PotK Unit Database</title>
	<meta property="og:title" content="Phantom of the Kill Fan Database"/>
	<meta property="og:description"
		  content="A fan-mantained database of playable units in the Phantom of the Kill Japanese Server."/>
	<meta property="og:image" content="https://potk-fan-database.neocities.org/images/units/3101411/unit_hires.png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="520">
</head>
<body>
{% import 'macros.html' as macros with context %}
<div class="container">
	{{ macros.nav_bar(cd_root='.', active='Main') }}
	<div id="title-about-row" class="row mb-3 d-none d-sm-block">
		<div class="col">
			<h1>PotK Unit Database</h1>
			{{ macros.about_text() -}}
		</div>
	</div>
	<div id="search-row" class="row mb-3">
		<div class="col">
			<h2>
				Quick Search <br class="d-sm-none"/>
				<small class="text-muted">{{ total }} units available</small>
			</h2>
			<div class="input-group">
				<input type="text" class="form-control" id="myInput"
					   onkeyup="checkEnter(event)"
					   placeholder="Search for units" title="Enter a unit name"/>
				<div class="input-group-append">
					<button type="button" class="btn btn-primary" onclick="searchUnit()">
						Search
					</button>
					<button type="button" class="btn btn-secondary" onclick="toggleAll()">
						Hide/Show all
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="units-row" class="row mb-3">
		<div class="col">
			<div id="unit-list" class="list-group">
				{% for unit in units %}
				{{- macros.unit_link(unit, hidden=True, cd_root='.') -}}
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="latest" class="row mb-3">
		<div class="col">
			<h2>Latest Units</h2>
			{% for date, units in latest_releases %}
			<h4>{{date}}</h4>
			<ul>
				{% for unit in units %}
				<li>{{- macros.unit_link(unit, hidden=False, cd_root='.', small=True) -}}</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</div>
	</div>
	<div id="browse-row" class="row mb-3">
		<div class="col">
			<h2>Browse Units by</h2>
			<div class="row mb-1">
				<div class="col">
					<h3><small>Weapon Type</small></h3>
					<div id="weapons">
						{% for weapon in weapons %}
						<a class="badge badge-pill badge-light" href="weapons/{{weapon.value}}.html">
							{{- weapon.name | title -}}
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<h3><small>Element</small></h3>
					<div id="elements">
						{% for el in elements %}
						<a class="badge badge-pill {{ badge_element[el] }}" href="elements/{{el.value}}.html">
							{{- el.name | title -}}
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<h3><small>Tags</small></h3>
					<div id="tags">
						{% for tag in tags %}
						<a class="badge badge-pill {{ badge_tag[tag.kind] }}" href="tags/{{tag.uid}}.html">
							{{- tag.desc.short_label_name -}}
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-about-row" class="row mb-3 d-sm-none">
		<div class="col">
			<h1>About</h1>
			{{ macros.about_text() -}}
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.6.22/dist/flexsearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
// Set some globals for readability; Kids, don't do this at home.
units = document.getElementById("unit-list").getElementsByClassName("list-group-item");
searchBox = document.getElementById("myInput");
anyShown = false;
index = FlexSearch.create();

fetch('./search/units.index.txt')
	.then(response => response.text())
	.then((data) => {
		console.log('data received');
		index.import(data);
		console.log('data loaded');
	});

function checkEnter(event) {
	if (event.keyCode == 13) {
		searchUnit();
	}
}

function toggleAll() {
	var i;
	for (i = 0; i < units.length; i++) {
		units[i].style.display = anyShown ? "none" : "";
	}
	anyShown = !anyShown;
}

function searchUnit() {
	var to_show, i, name;
	to_show = index.search(searchBox.value);
	console.log(to_show);

	for (i = 0; i < units.length; i++) {
		unit_id = +units[i].dataset.unitId;
		if (to_show.indexOf(unit_id) > -1) {
			units[i].style.display = "";
			anyShown = true;
		} else {
			units[i].style.display = "none";
		}
	}
}
</script>
</body>
</html>
